svg#desktop-logo {
  stroke-width: 3;
  @media (max-width: 550px) {
    display: none;
  }
}

svg#mobile-logo {
  stroke-width: 5;
  display: none;
  @media (max-width: 550px) {
    display: block;
  }
}
