.navButton {
  font-family: 'Code Bold';
  border:none;
  background:none;
  color: white;
  text-align: Center;
  font-size: 1.6em;
  padding-top: 3em;
  height: 4.5em;
  width: 5em;
  background-color: #24255d;
  position: fixed;
  left: 47%;
  margin-left: -1.75em;
  top: -3em;
  cursor: pointer;
  z-index: 1;
  transition: all .2s;
  border-radius: 3px;
}
.navButton:hover {
  font-size: 2em;
  top: -2.25em;
  padding-top: 2.5em;
  left: 47%;
}
.navButton:active,
.navButton:focus{
  outline: none;
}
