#navButton {
  width: 200px;
  height: 25px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%); /* makes it horizontally centered */
  background: #24255d;
  transition: all .1s linear;
  text-align: center;
  color: #fff;
  font-family: 'Code Bold';
  z-index: 1;
  cursor: pointer;
  border-radius: 0 0 20px 20px;
  &:hover {
    padding-top: 5px;
    height: 40px;
    width: 220px;
  }
  &.active {
    width: 100vw; /* 100% of the viewport width */
    height: 100vh;
    border-radius: 0;
  }
}
