#navButton {
  width: 200px;
  height: 25px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%); /* makes it horizontally centered */
  background: #24255d;
  transition: all 200ms linear;
  text-align: center;
  color: #fff;
  font-family: 'Code Bold';
  z-index: 1;
  cursor: pointer;
  border-radius: 0 0 20px 20px;
  &.inactive {
    @media (min-width: 700px) {
      &:hover {
        width: 225px;
        height: 40px;
        padding-top: 5px;
      }
    }
  }
  &.active {
    width: 100vw; /* 100% of the viewport width */
    height: 100vh;
    border-radius: 0;
  }

  div#navMenu {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    ul {
      list-style-type: none;
      li {
        font-size: 4rem;
        opacity: 0;
        &:nth-child(1) {
          animation: opacity 500ms linear forwards;
        }
        &:nth-child(2) {
          animation: opacity 500ms 100ms linear forwards;
        }
        &:nth-child(3) {
          animation: opacity 500ms 200ms linear forwards;
        }
        &:nth-child(4) {
          animation: opacity 500ms 300ms linear forwards;
        }
        a {
          color: #C60000;
        }
      }
    }
  }
}

@keyframes opacity {
  0%   { opacity: 0; }
  50%   { opacity: 0; }
  100% { opacity: 1; }
}
