$white: #fff;

.link {
  color: $white;
  position: relative;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  @media (min-width: 700px) {
    &::before {
      background-color: $white;
      bottom: 0;
      content: '';
      height: 3px;
      left: 0;
      position: absolute;
      transform: scaleX(0);
      transition: transform .4s ease-in-out;
      visibility: hidden;
      width: 100%;
      border-radius: 10px;
    }
    &:hover::before {
      transform: scaleX(1);
      visibility: visible;
    }
  }
}
